@model IEnumerable<FileStorage.PL.Models.StorageModel>
@using FileStorage.PL.Helpers
@{
    ViewBag.Title = "View users";
}

@if (Model is null || Model.Count() == 0)
{
<div class="action-panel">
    <div class="page-title">View users</div>
</div>
<p>No users</p>
}
else
{
<div class="action-panel trash-panel">
    <div class="page-title">All users, total used size is @GetSizeFromBytes.PrintStorageSize(ViewBag.TotalSize)</div>
</div>
<div class="files-container">
    @foreach (var item in Model)
        {
    <div class="file">
        <div class="file-name" title="@item.UserName">@item.UserName</div>
        <div class="file-actions">
            <div class="file-date" title="The date the user storage was created">@item.CreationDate.Substring(0, 10)</div>
            <div class="storage-size" title="User storage size">
                @GetSizeFromBytes.PrintStorageSize(item.StorageSize)
            </div>
        </div>
    </div>
        }
</div>
}
<br />